#nameLabel{
    font-size: 30px;
    font-weight: bolder;
}
#navItems{
    margin-left: 730px;
}
#navItems>li>a:hover{
    color: yellow;
    font-weight: bolder;
    font-size: 19px;
    text-underline: #ffca2c;
}

*{
    background-color: black;
    color: white;
}
#mainImage{
    border-radius: 100%;
    border-color: #0b5ed7;
    padding: 3px;
    box-shadow: rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;    margin-top: 60px;
    margin-left: 120px;
}
#mainSectionAbout{
    margin-top: 190px;
    margin-right: 150px;
}
#welcomeTag{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 40px;
    font-weight: bolder;
}

#iAmTag{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 60px;
    font-weight: bolder;
}

#nameTag{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 50px;
    margin-left: 300px;
    margin-top: -75px;
    padding: 10px;
}
#createTag{
    padding: 5px;
}

#aboutTagName{
    margin-left: 38vw;
    padding: 10px;
    color: #ff0000;

    position: relative;
    text-shadow: -15px 5px 20px #ced0d3;
    letter-spacing: -0.05em;
    font-family: 'Anton', Arial, sans-serif;
    user-select: none;
    font-size: 60px;
    transition: all 0.25s ease-out;
}

#aboutDiv{
    animation-name: my-keyframes;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
@keyframes my-keyframes {
    0% {
        text-shadow: #ffca2c;
        /*text-shadow: makelongshadow(100,1);*/
        color: #f3f3f3;
        transform: scale(1.5, 1.5);
    }
    10% {
        /*//text-shadow: makelongshadow(100,1.5);*/
        text-shadow: #ffca2c;
        color: #f3f3f3;
        transform: scale(1.5, 1.5);
    }
    15% {
        color: #f3f3f3;
    }
    20% {
        color: #e90418;
        text-shadow: none;
        transform: scale(1.1, 1.1);
    }
    75% {
        opacity: 1;
    }
    80% {
        opacity: 0;
        color: #e90418;
        transform: scale(0.85, 0.9);
    }

    100% {
        opacity: 0;
    }
}

#HelloTag{
    margin-left: 10px;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 35px;
    padding: 10px;
}
#descriptionTag{
    font-size: 15px;
    padding: 10px;
}

.myDetails{
    font-size: 25px;
    margin-left: 50px;
}
#fromDetails{
    margin-left: 550px;
    margin-top: -55px;
}
#myEmail{
    margin-left: 550px;
    margin-top: -55px;
}
#myDegree{
    margin-left: 550px;
    margin-top: -55px;
}
.btnAbout>input{
    background-color: #0FFB51;
    width: 150px;
    height: 50px;
    color: black;
    border-radius: 50px;
    font-weight: bolder;
    font-size: 25px;

}
#btnHireMe{
    margin-left: 280px;

}
#expTag{
    margin-top: 20px;
    padding: 30px;
    border-radius: 30px;
    border: yellow 5px solid ;
    width: max-content;
    margin-left: 110px;
}
#projectTag{
    border: yellow 5px solid ;
    width: max-content;
    border-radius: 30px;
    padding: 30px;
    margin-left: 450px;
    margin-top: -97px;

}
.projectAndExpBtn{
    margin-top: 50px;
}
#homeReadMoreBtn{
    background-color: #857bff;
    color: black;
    width: 150px;
    height: 60px;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 25px;
}